* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}
td, th {
  border: none;
  text-align: left;
  padding: 8px;
}
input[type="checkbox"]{
  width: 2rem;
  height: 3rem;

}
.clear{
  clear: both;
}

.App{
  background: #000;
  padding: 30px;
  min-height: 100vh;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;  
  flex-direction: column;
}
.container> h2{
  text-align: center; 
}
.todo-list{ 
  border-radius: 4px; 
  padding: 5px;
  min-width: 50vw;
}
.todo-list> ul{
  text-decoration: none;
  list-style: none;
}
.todo-content{
  background: #e8e8e8;
  color: #000;
  display: flex;  
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1em;
}
.todo-item> li{ 
  padding-bottom: 1em;
}

.create-button {
  background-color: #4CAF50; /* Green */  
  color: white;
  padding: 10px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.delete-button {
  background-color: #ff0000; /* Red */  
  color: white;
  padding: 7px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-top: 0.5em;
}

.edit-button {
  background-color: #3333cc; /* blue */  
  color: white;
  padding: 7px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-top: 0.5em;
}